form#number {
  display: none;
  text-align: center;
}

.spooky-mode {
  background-color: darkred;
}

.card-spooky {
  background-color: rgb(180, 0, 0);
}

.dialogue, .output {
  margin-top: 50px;
  text-align: center;
}

.btn {
  margin-top: 20px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

#creepy {
  font-size: x-small;
  margin-left: 5px;
  color: lightgrey;
}